.card{
    border-radius: 15px;
    box-shadow: 10px 10px 10px gray;
    color: black;
    text-align: center;

}
.price{
    color:#042c2c;
    text-shadow: 5px 5px 2px pink;
    font-weight: 900;
}
.start{
display: flex;
justify-content: center;
}